


@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<p>this is my home page.</p>




<div class="row text-center">
    <div class="col-md-4">
        <h1>heading 1</h1>
        <p>hdfhshfkshfhsdkhfkshdkfh
            skdfksfklsklfsdlkfklasdfkl
            dlfsdklfklsdjfksklfkldlfsdklf
        </p>
    </div>


    <div class="col-md-4">
        <h1>heading 2</h1>
        <p>hdfhshfkshfhsdkhfkshdkfh
            skdfksfklsklfsdlkfklasdfkl
            dlfsdklfklsdjfksklfkldlfsdklf
        </p>
    </div>

    <div class="col-md-4">
        <h1>heading 3</h1>
        <p>hdfhshfkshfhsdkhfkshdkfh
            skdfksfklsklfsdlkfklasdfkl
            dlfsdklfklsdjfksklfkldlfsdklf
        </p>
    </div>

</div>



<div class="row">
    <div class="col-md-6 col1">

        <h1>heading 1</h1>
        <p>kdhfshdfhskhfhkshf
            sdfksfsdfksdklfksdjfklsdk
            sdkfklsdfklsdklfsdklfskldf
            ldfklsdklsdklfklsdfjklsdfk
        </p>
    </div>


    
        <div class="col-md-6 col">
            <h1>heading 2</h1>
            <p>
                kdhfshdfhskhfhkshf
            sdfksfsdfksdklfksdjfklsdk
            sdkfklsdfklsdklfsdklfskldf
            ldfklsdklsdklfklsdfjklsdfk
            </p>
        </div>
    
</div>




<div class="row">

    <div class="col-md-4">
        <h1>heading 1</h1>
        <p>    kdhfshdfhskhfhkshf
            sdfksfsdfksdklfksdjfklsdk
            sdkfklsdfklsdklfsdklfskldf
            ldfklsdklsdklfklsdfjklsdfk</p>
    </div>
</div>




